<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="c1cfd7c3-dfc1-4440-81cc-a8e85943e93e" Publisher="CN=Pascal" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="c1cfd7c3-dfc1-4440-81cc-a8e85943e93e" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ProxerWeb</DisplayName>
    <PublisherDisplayName>InfiniteSoul</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Proxer.App">
      <m3:VisualElements DisplayName="Proxer.Me (inoffiziell)" Square150x150Logo="Assets/Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="Inoffizieller Port der Proxer.Me mobilen Apps für Windows Phone.  Proxer ist die größte deutsche Anime- und Manga Community. Hier findest du alles, was dein Otaku-Herz begehrt. Die Proxer App hat folgende funktionen: - Aktuelle News - Informationen zu Anime und Manga - Forum - Rezensionen (mit Ton!) - Unseren eigenen Proxer-Nachrichtendienst, mit dem man mit gleichgesinnten schreiben kann - Unterstützt Crunchyroll und Viewster Simulcasts!  Die App ist ausschließlich für Proxer Mitglieder gedacht. Sie ist vollkommen Werbefrei und erfordert nur Internet-Rechte! Unterstützt uns mit einer kleinen Spende: http://proxer.me/donate  Weitere Funktionen werden folgen! Die Proxer App ist noch in den Kinderschuhen und wird weiter entwickelt. Wir bitten Mängel zu entschuldigen." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
          <m3:Rotation Preference="landscape" />
          <m3:Rotation Preference="landscapeFlipped" />
        </m3:InitialRotationPreference>
        <m3:SplashScreen BackgroundColor="gray" Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://proxer.me" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>